<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.acme.potentials.CreateNewPotential"/>
      <class name="com.acme.purcchaseorder.CreateNewPurchase"/>
      <class name="com.acme.recepits.NewRecepit"/>
      <class name="com.acme.records.CreateAccount"/>
      <class name="com.acme.sources.CreateNewLead"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
